*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #548687;
    text-align: center;
    margin-top: 1rem;
    height: 100vh;
    margin-bottom: 8rem;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    width: 18vmin;
    height: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1.5vmin rgba(0, 0, 0, 0.7);
    font-size: 12vmin;
    color: #df140d;
    /* cursor: pointer; */
    background-color: #ffffc7;
    cursor: pointer;

}

.rst-btn{
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    box-shadow: 0 0 1.5vmin rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.new-btn{
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    box-shadow: 0 0 1.5vmin rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.msg-container{

    font-size: 3rem;
    height: 15vmin;
}

h3{
    color: #ffffc7;
    font-size: 10vmin;
}

.hide{
    display: none;
}
